<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/stx_header.css">
    <link rel="stylesheet" href="/static/css/stx_base.css">
</head>
<body>
    <div class="head-bar">
        <div class="head-tools">  
        </div>
        <div class="head-title">
            <span class="head-title-text">仨同学</span>
        </div>
        <div class="head-tools">
            <a href="" class="btn btn-plain">Sign in</a>
            <a href="" class="btn btn-plain">Sign up</a>
        </div>
    </div>
    <div id="container">
        <div class="login-box">
            <div class="title-area">
                <img src="/static/images/logo_white_small.png" alt="" class="title-img responsive-img">
                <h2 class="title-text">Sign in to Satongxue</h2>
            </div>
            <div class="input-area">
                <input type="text" class="input-login input-login-top">
                <input type="password" class="input-login input-login-bottom">
            </div>
            <div class="footer-area">
                <div class="footer-item">
                    <a href="" class="plain-link">Forgot your password?</a>
                </div>
                <div class="footer-item">
                    <span>Don't have an account? <a href="" class="plain-link">Create one</a></span>
                </div>
            </div>
        </div>
        <div class="tabs-box">

        </div>
    </div>
    
<!--javascript-->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/vue/dist/vue.min.js"></script>
</body>
</html>