<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仨同学</title>
</head>
<body>
    <div class="head-bar">
        <div class="head-tools">  
        </div>
        <div class="head-title">
            <span class="head-title-text">仨同学</span>
        </div>
        <div class="head-tools">
            <a href="" class="btn btn-plain">登录</a>
            <a href="" class="btn btn-plain">注册</a>
        </div>
    </div>
    <div id="container">
        <div class="login-box">
            <div class="title-area">
                <img src="/static/images/logo_white_small.png" alt="" class="title-img responsive-img">
                <h2 class="title-text">登录仨同学</h2>
            </div>
            <div class="input-area">
                <input type="text" class="input-login input-login-top">
                <input type="password" class="input-login input-login-bottom">
            </div>
            <div class="footer-area">
                <div class="footer-item">
                    <a href="" class="plain-link">忘记密码？</a>
                </div>
                <div class="footer-item">
                    <span>没有账户? <a href="" class="plain-link">注册一个</a> / <a href="" class="plain-link">Continue as a guest</a></span>
                </div>
            </div>
        </div>
        <div class="tabs-box">

        </div>
    </div>
    
<!--javascript-->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/vue/dist/vue.min.js"></script>
</body>
</html>