<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sa Tong Xue</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/stx_base.css">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div id="main"><app></app></div>
    
    <script src="/static/dist/build.js"></script>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
</body>
</html>