.head-bar {
    flex: 0 1 60px;
    background-color: rgba(80, 80, 80, 0.8);
    padding: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    color: #fff;
}

.head-bar .head-title {
    text-align: left;
    flex: 1 1 auto;
}

.head-bar .head-title .head-title-text {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.4em;
    color: inherit;
}

.head-bar .head-tools {
    flex:0 1 auto;
}